<h2>Gamers</h2>

<label for="sort">Availability:</label>
<select (change)="filterSelector($event.target.value)">
  <option value="all">All</option>
  <option value="Open">Open</option>
  <option value="Weekends">Weekends</option>
  <option value="Nights">Nights</option>
</select>

<div *ngFor="let gamer of gamers | availability:filterByOption" class="panel panel-default">
  <div class="panel-body">
    <h3 *ngIf="currentRoute === '/gamers'" (click)="goToDetailPage(gamer)">{{gamer.name}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      <div class="col-md-6">
        <app-gamer-detail [adminGamerId]="gamer.$key"></app-gamer-detail>
      </div>
      <div class="col-md-6">
        <app-edit-gamer [adminGamer]="gamer"></app-edit-gamer>
      </div>
    </div>
  </div>
</div>
